
body {
  background-color: #fff3fa;
}

.cart-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    
  }
  
  .cart-page h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #7a042a;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #f8f8f8; */
    background: #fff8fa;
    padding: 15px;
    border-radius: 8px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .item-details {
    flex: 1;
    margin-left: 15px;
    text-align: left;
  }

  .item-details h3{
    color: #7a042a;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .item-details p{
    color: #555;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
  }
  
  .quantity-controls button {
    padding: 5px 10px;
    border: none;
    /* background: #000; */
    background-color: #be5c71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .quantity-controls button:hover {
    background-color: #8f4151;
  }

  .remove-btn{
    background-color: #be5c71;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover{
    background-color: #8f4151;
  }

  .cart-footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .cart-footer h3{
    font-size: 1.5rem;
  }
  
  .checkout-btn,
  .go-back-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #be5c71;
    /* background: #000; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .checkout-btn:hover,
  .go-back-btn:hover {
    background-color: #8f4151;
  }

  